/*site bakgruond #FAF8DA*/
body{
	background-color: #FAF8DA;
	font-family:'B nazanin',tahoma;
	margin: 0;

}
.eng-flag{
	width: 50px;
}
.primary-header{
	text-align: center;
}
.main-heading{
	color: #205D76;
	font-size: 75px;
	margin-top: 2px;
	padding-top: 40px;
}
.town-preview{
	width: 650px;
}
.store-section{
	display: flex;
	margin: 50px auto;
	width: 450px;
}
.building{
	width: 200px;
}
.store-div{
	margin-right: 30px;
}
.category-headig{
	color: #205D76;
	font-size: 35px;
	text-align: right;
}
.store-list{
	color: #FFC122;
	padding-right: 20px;
}
.store-name{
	margin-bottom: 10px;
}
.store-link{
	color: #EA6E2F;
	font-size: 25px;
	text-decoration: none;
}
.primary-footer{
	background-color: #FFC122;
	padding: 1px;
	text-align: center;
}
.footer-fontstyle{
	color: #FFFFFF;
	font-size: 25PX;
}